@import '../bmod_definitions';
@import 'mediawiki.ui/variables';

#p-logo,
.mw-logo {
  display: none;
}

.mw-body {
  & h1,
  &-content h1,
  &-content h2 {
    font-family: sans-serif;
  }
}

nav.vector-menu-tabs {
  padding-left: 0;

  // remove background with color gradient
  ul, ul li {
    background: none;
  }

  li.selected {
    // border around the tab matches content, at the bottom we override the
    // content border with the background color
    border: @content-border-style;
    border-bottom-color: @content-background-color;
    // background of the selected tab should match the content
    background-color: @content-background-color;

    // remove background with the vertical separator
    a {
      background: none !important;
    }
  }

  // invisible border to align well with the selected tab
  ul li {
    border: @content-border-width;
  }
}

// Vector in responsive mode; https://www.mediawiki.org/wiki/Skin:Vector#wgVectorResponsive
body.skin-vector.skin--responsive {
  nav.vector-menu-tabs {
    li.selected {
      margin-top: -@content-border-width;
      border-bottom: none;
    }
  }

  // Let the left border of the selected tab overlap with the vertical bar
  // coming from the background image of the previous tab.
  li:not(:first-child).selected {
    margin-left: -1 * @content-border-width;
  }
}

// Vector legacy and Vector 2022
body.skin-vector {
  // Set background color
  div.mw-page-container {
    background-color: @body-background-color;
  }

  // Disable sidebar's gradient as it conflicts with the background color
  div#mw-panel {
    background-image: none;
  }
}

// Vector 2022
body.skin-vector-2022 {
  // Set background color
  .vector-sticky-header {
    background: @body-background-color;
  }
  .vector-header-container {
    background-color: @body-background-color;
  }

  // Match the font used in page title
  .vector-sticky-header-context-bar-primary {
    font-family: sans-serif;
  }

  // keep padding as we are using a visual border
  @media screen {
    .mw-body {
      padding: 1.5em;
    }
    .mw-ui-icon-flush-left {
      margin-left: 0;
    }
    .mw-ui-icon-flush-right {
      margin-right: 0;
    }
  }
  @media screen and (max-width: 999px) {
    // move horizontal padding from .mw-page-container to .mw-body and .mw-footer
    .mw-page-container {
      padding-left: 0;
      padding-right: 0;
    }
    .mw-body, .mw-footer {
      padding: 0.5em;
    }
    // increase max-width from 60em to 100%
    .mw-content-container {
      max-width: 100%;
    }
  }

  // Fix to not hide the login menu
  #p-personal.emptyPortlet {
    display: block;
  }

  // Fix style and layout of main menu in the left sidebar
  @media screen {
    // NOTE: #vector-main-menu alone is not unique as of MW 1.40
    #vector-main-menu.vector-main-menu {
      background: @content-background-color;
      border: @content-border-style;
      width: auto;
      margin-left: 0;
      margin-top: 0;
      margin-bottom: 1em;
    }
  }

  // Fix layout of the TOC menu in the left sidebar
  @media screen and (min-width: 1000px) {
    // NOTE: #mw-panel-toc alone is not specific enough
    #mw-panel-toc.mw-table-of-contents-container {
      margin-left: 0;
      #vector-toc-pinned-container {
        margin-top: 0 !important;
        border: @content-border-style;
        .vector-toc, .vector-toc::after {
          width: auto;
        }
      }
    }
  }

  // Restore language links which disappeared in the Vector 2022 version 1.39
  #p-lang-btn.mw-portlet-empty {
    display: block;
    float: right;
  }

  // Align the language selector
  .vector-page-titlebar > .mw-ui-button:last-child,
  .vector-page-titlebar > .mw-portlet-lang:last-child {
    margin-right: auto;
  }
}

// Vector legacy
body.skin-vector-legacy {
  div#mw-head,
  .mw-header {
    top: 65px;
  }

  div#mw-panel {
    top: 65px;
    margin-top: 1em;
  }

  #mw-page-base {
    background: none;
  }

  // fix vertical position of tabs
  nav.vector-menu-tabs, nav.vector-menu {
    margin-top: -2 * @content-border-width;
  }

  nav.vector-menu-tabs {
    // Let the left border of the selected tab overlap with the vertical bar
    // coming from the background image of the previous tab.
    li:not(:first-child).selected {
      margin-left: -2 * @content-border-width;
    }
  }

  @media screen and ( max-width: @width-breakpoint-tablet ) {
    // fix position of personal navigation bar
    div#p-personal {
      top: unset;
    }

    // remove useless blank space at the bottom
    div#mw-panel {
      padding-top: 0;
    }
  }
}
