
@import "./bmod-common.less";

:root {
	--bmod-blue: #446278;
	--bmod-red: #a6423e;
	--bmod-blue-dark: #335166;
	--bmod-red-dark: #88302d;
}

#bmod-nav,#bmod-nav-gap {

	height: 3.75rem;
}
#bmod-nav {
	* {
		font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
	}

	*, *::before, *::after {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		word-wrap: break-word;
		max-width: 100vw;
	}

	&_watcher {
		position: absolute;
		top: 0;
	}
	width:100%;
	top: 0;
	z-index: 100;
	position: sticky;
	padding:  0 1em;


	display: grid;
	grid-template-areas: "logo search nav";
	grid-auto-columns: auto 1fr auto;
	gap: 1em;
	align-items: center;
	background-color: rgba(.5,.5,.5,.5);
	

	&:hover,&.floating{
		background-color: var(--bmod-blue);
	}

	
	a {
		flex-flow: row;
		height: 100%;
	}

	#bmod-logo {
		// display: inherit;
		font-weight: bold;
		color: white;
		text-transform: capitalize;
		.item-card {
			font-size: 30px;
		}
		
	}

	#bmod-site-search {
		display: grid;
		place-items: center;
		height: 100%;
		input {
			width: 100%;
		}
		&:focus-within {
			@media (max-width:@mobileWidth) {
				position: absolute;
				width: 100%;
				top: 0;
				z-index: 1;
				background-color: var(--bmod-blue);
				
			}

		}
		&:not(:focus-within) {
			#bmod-search-results {
				display: none;
			}
		}


		#bmod-search-results {
			position: absolute;
			width: max-content;
			left:50%;
			translate: -50%;

			top: 0;
			right: 50%;
			max-height: 100vh;
			display: grid;
			grid-template-rows: 60px 1fr;
			grid-template-areas: "nav " "results";
			z-index: 99;
		}

		#bmod-search-results-list {
			grid-area: results;
			background-color: #3e3e3e;
			overflow-y: scroll;
			display: flex;
			flex-flow: column;
			align-items: stretch; 
			.item-card {
				width: 100%;
			}
		}
		
	}

	#bmod-nav-mobile {
		float: right; 
		font-size: 1em;
	}

	nav {

		@media (min-width: @mobileWidth) {
			& > ul {

				& > li > a.trans {
					height: 100%;
					border-radius: 0;
					padding-top: 0;
					padding-bottom: 0;
				}
				
			}
		}


		@media (max-width:@mobileWidth) {
			font-size: 1.5em;
			&>ul {
			flex-flow: column;
			width: 100%;
			position: fixed;
			left: 0;
			top: 60px;
			width: 100%;
			background-color: var(--bmod-red);
			height: -webkit-fill-available;
			}
		}
	}

	ul {
		list-style: none;
		padding: 0;
		margin: 0;
		align-items: center;
		text-align: center;
			@media (min-width: @mobileWidth) {
				display: flex;
				justify-content: end;
				align-items: stretch;
				ul{
					position: absolute;
				}
			}

		ul {
			flex-flow: column;
			background-color: var(--bmod-blue-dark);
		}

		i {
			display: inline;
			font-size: 0.9em;
			margin-right: 0.3em;
		}
	

		@media (max-width:@mobileWidth) {
			a{
				width: 100%;
				height: 100%;
				padding: 1em 0;
			}
		}
	}
	@media (min-width: @mobileWidth) {
		#bmod-nav-mobile {
			display: none;
		}
		
	}
	li {
		position: relative;
		@media (min-width: @mobileWidth) {
			&:not(:hover:focus-within) > ul {
				display: none;
			}
		}
			&:not(:focus-within) > ul {
				display: none;
			}
	}
}




