
.item-card {
	font-size: 2rem;
	display: inline-grid;
	// width:  100%;
	gap: 0;
	grid-template-areas: "image title" ;
	grid-auto-columns: 2em auto;
	&.number {
		grid-template-areas: "image title number" ;
		grid-auto-columns: 2em auto minmax(min-content,2em);
	}
	height: 2em;
	color: white;
	align-content: center;
	&.tags {
		grid-template-areas: "image title" "image tags";
		&.number {
			grid-template-areas: "image title number" "image tags number";
		}
	}

	&:not(.number) {
		.item-card_name,.item-card_tags{
		margin-right: .25em;
		}
	}
	&.number .item-card_number {
		margin-right: .25em;
	}


	&:hover {
		background-color: rgba(255,255,255,.07);
	}


	.__skeleton {
		background-color: rgba(255,255,255,.3);
		
	}
	.__floating-skeleton {
		position: relative;
		&::after {
			content:"";
			display: block;
			// margin: auto;
			// position: absolute;
			// translate: -50% -50%;
			// top:50%;
			// left:50%;
			&:extend(.__skeleton);
		}
	}

	 
	&_name,&_tags {
		&:empty {
			display: grid;
			place-items: center left;
			&:extend(.__floating-skeleton);
			&::after {
				height: 1em;
				top: 0 !important;
				left: 0 !important;
				translate: 0 !important;
			}
		}
	}
	&_number {
		&:empty {
			&:extend(.__floating-skeleton);
			&::after {
				width: .8em;
				height: .8em;
			}

		}	
	}
	&_image {
		border: none; // Reset border
        padding: 0; // Reset padding
		&:not([src]),&[src=""] {
			&:extend(.__skeleton);
			width: 1.5em;
			height: 1.5em;
			border: none;
		} 
	}


	&_image {
		grid-area: image;
		max-width: 1.5em;
		margin: auto;
	  }
	  &_name {
		grid-area: title;
	  }
	  &.tags &_name {
		font-size: .7em;
	  }

		&_tags {
			grid-area: tags;
			font-size: .4em;
		}

	  &_number {
		grid-area: number;
		background-color: rgba(255,255,255,.05);
		display: grid;
		place-items: center;
		padding: auto 1em;
		height: 100%;
		height: 64px;;
	  }
  }
  /**
 tags*/
[class^=tag] {
	border: none;
  text-align: center;
  user-select: none;
  padding: 0.1rem 0.2rem;
  border-radius: 0.5rem;
  text-decoration: none;
 }
