
:root {
	--text-color:#f9f9f9;
	--bmod-orange: orange;
	--bmod-orange-dark: rgb(199, 126, 0);
	--discord-blurple:#5865F2;
	--btn-bg: #776b5f;
	--btn-bg-dark: #5f5143;
	--btn-green: #56842c;
	--btn-green-dark: #3e5e21;
	--darken: rgba(.5,.5,.5,.2);
	--trans: rgba(0, 0, 0, 0);
}


#bmod-nav {
	input,
	select,
	button {
	outline:none;
	border:none
	}
	[data-balloon] {
		position: relative;
	
		&:before {
		position: absolute;
		content: attr(data-balloon);
		bottom: 100%;
		background-color: black;
		padding: 0.3rem 0.5rem;
		font-size: 1rem;
		transform: translateX(-50%);
		left: 50%;
		margin-bottom: 0.5rem;
		z-index: 10;
		visibility: hidden;
		}
	
		&:hover::before,
		&:focus::before {
		visibility: visible;
		}
	}

	
	//*****************************
	// TODO: TURN THE BELOW INTO PROPPER SCSS
	//*****************************
	
	input:not([type=submit]):not([type=button]):not([type=reset]),
	select {
	color:var(--text-color);
	background:var(--bmod-orange);
	padding:.5em 2em;
	background-color:var(--darken);
	border-radius:1em
	}
	input:not([type=submit]):not([type=button]):not([type=reset]):empty,
	select:empty {
	background-color:none
	}
	input:not([type=submit]):not([type=button]):not([type=reset])[type=radio],
	select[type=radio] {
	display:none
	}
	input:not([type=submit]):not([type=button]):not([type=reset])[type=radio]:has(+label),
	select[type=radio]:has(+label) {
	display:none
	}
	input:not([type=submit]):not([type=button]):not([type=reset])[type=radio]+label,
	select[type=radio]+label {
	height:100%;
	width:100%;
	background-color:var(--darken);
	padding:.5rem .7rem
	}
	input:not([type=submit]):not([type=button]):not([type=reset])[type=radio]:checked+label,
	select[type=radio]:checked+label {
	background-color:var(--bmod-orange);
	color:var(--text-color)
	}


	a[href]:not([href=""]):not(.btn),
	a[href]:not([href=""]):visited:not(.btn),
	a[href]:not([href=""]):link:not(.btn),
	a[href].btn:not([href=""]),
	a[href].btn:not([href=""]):visited,
	a[href].btn:not([href=""]):link,
	button,
	input[type=submit],
	input[type=reset],
	input[type=button] {
	text-decoration:none;
	cursor:pointer;
	font-weight:bold
	}
	a[href]:not([href=""]):not(.btn),
	a[href]:not([href=""]):visited:not(.btn),
	a[href]:not([href=""]):link:not(.btn) {
	color:var(--bmod-orange);
	}
	a[href].btn:not([href=""]),
	a[href].btn:not([href=""]):visited,
	a[href].btn:not([href=""]):link,
	button,
	input[type=submit],
	input[type=reset],
	input[type=button] {
	display:inline-block;
	color:var(--text-color);
	border:none;
	text-align:center;
	user-select:none;
	padding:.3rem .5rem;
	border-radius:.5rem;
	background-color:var(--trans);
	display: inline-flex;
	// flex-flow: column;
	align-items: center;
	justify-content: center;
	}
	a[href].btn:not([href=""]) img,
	a[href].btn:not([href=""]):visited img,
	a[href].btn:not([href=""]):link img,
	button img,
	input[type=submit] img,
	input[type=reset] img,
	input[type=button] img,
	a[href].btn:not([href=""]) svg,
	a[href].btn:not([href=""]):visited svg,
	a[href].btn:not([href=""]):link svg,
	button svg,
	input[type=submit] svg,
	input[type=reset] svg,
	input[type=button] svg {
	height:2rem;
	width:auto;
	vertical-align:text-bottom
	}
	a.big[href].btn:not([href=""]),
	button.big,
	input.big[type=submit],
	input.big[type=reset],
	input.big[type=button] {
	font-size:1.7em;
	padding:.3rem 1rem;
	border-radius:.5rem
	}
	a[href].btn:not(.trans):not([href=""]),
	button:not(.trans),
	input[type=submit]:not(.trans),
	input[type=reset]:not(.trans),
	input[type=button]:not(.trans) {
	background-color:var(--btn-bg)
	}
	a[href].btn:not(.trans):hover:not([href=""]),
	button:not(.trans):hover,
	input[type=submit]:not(.trans):hover,
	input[type=reset]:not(.trans):hover,
	input[type=button]:not(.trans):hover,
	a[href].btn:not(.trans).active:not([href=""]),
	button:not(.trans).active,
	input[type=submit]:not(.trans).active,
	input[type=reset]:not(.trans).active,
	input[type=button]:not(.trans).active {
	background-color:var(--btn-bg-dark)
	}



	a[href].btn:hover:not([href=""]),
	button:hover,
	input[type=submit]:hover,
	input[type=reset]:hover,
	input[type=button]:hover,
	a.active[href].btn:not([href=""]),
	button.active,
	input.active[type=submit],
	input.active[type=reset],
	input.active[type=button] {
	background-color:var(--darken)
	}
	a:not([href]),
	a[href=""] {
	color:inherit
	}


	/*old*/

	.__bmodLink {
		font-size: 1.3em;
		color: #ebe9cc;
		text-decoration: none;
		width: min-content;
		padding: 5px 10px;
		border-radius: 0.3em;

	}


	.bmod-copylink {
		background-color: #776b5f;
		&:extend(.__bmodLink);
	}

	.bmod-joinlink {
		background-color: #56842c;
		&:extend(.__bmodLink);
	}

	/* BalenceMod Nav Item */
	.bmod-navitem {
		height: 74px;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;

		color: #ebe9cc;

		font-size: 1.7em;
		text-decoration: none;
		width: min-content;
		padding: 0 5px;
		border-radius: 0.3em;
		flex-wrap: wrap;
		flex-flow: column;
	}
	.bmod-navitem:not(.img) {
		background-color: #776b5f;
	}
	.bmod-navitem i {
		font-size: 60;
	}

	.btn-green {
		background-color: var(--btn-green)!important;
	}
	.btn-green:hover {
		background-color: var(--btn-green-dark)!important;
	}
	.btn-discord {
		background-color: var(--discord-blurple) !important;
	}

}